
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body{
	font-family: 'Quicksand', sans-serif;
}


@media (max-width: 800px) {


header{
	margin-top: 30%;
}

.headerTitle{
	padding-left: 5%;
	padding-right: 5%;
}

.headerDescription{
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 20%;
	font-size: 18px;
	text-align: justify;
}

.googleFormLink{
	margin-top: 15%;
	margin-left: 5%;
	margin-right: 20%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 2%;
	padding-bottom: 2%;	
	background-color: #fff;
	color: #000;
	text-decoration: none;
	border-radius: 22px;
	border-color: #000;
	border-style: solid;
	border-width: 1.2px;
}

.googleFormLink:hover{
	margin-top: 15%;
	margin-left: 5%;
	margin-right: 20%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 2%;
	padding-bottom: 2%;	
	background-color: #000;
	color: #fff;
	text-decoration: none;
	border-radius: 22px;
	border-color: #fff;
	border-style: solid;
	border-width: 1.2px;
}

.googleFormLinkOne{
	margin-top: 15%;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 1%;
	padding-bottom: 1%;	
	background-color: #000;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.profileSection{
	padding-top: 5%;
	padding-bottom: 5%;
	margin-right: 5%;

	border-bottom-style: solid;
	border-bottom-color: #D6D6D6;
	border-bottom-width: 1px;
}

.profileImg{
	height: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	border-radius: 50%;
}

.userName, .school, .bio, .tags{
	font-weight: 300;
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
}

.bio{
	margin-bottom: 3%;
}

.userName{
	font-size: 32px;
	font-weight: 700;
}

.school{
	font-size: 24px;
}

.bio{
	font-size: 18px;
	font-weight: 400;
	color: #A6A6A6;
	margin-bottom: 10%;
}

.tags{
	font-size: 22px;
	font-weight: 700;
}

.categoriesDiv{
	margin-left: 5%;
	margin-top: 10%;
}

.categoriesUl{
	margin-bottom: 10%;
}

.categoriesLi{
	text-decoration: none;
	list-style-type: none;
	float: left;
	padding-right: 5%;
}

.profiles{
	padding-top: 5%; 
}

.menuLink{
	text-decoration: none;
	color: #000;
}

footer{
	margin-top: 5%;
	margin-bottom: 5%;
}



}